<div class="home-container">

  <!-- CARD PRINCIPAL -->
  <p-card class="hero-card">
    <ng-template pTemplate="header">
      <div class="hero-header">
        <i class="pi pi-home"></i>
        <h4>Bem-vindo ao MRA – Monitoramento de Recepção de Arquivos</h4>
      </div>
    </ng-template>

    <p>
      Aqui você acompanha em o status de recepção dos arquivos,
      indicadores de processamento e dashboards operacionais.
      <br />
      Utilize os atalhos abaixo para navegar rapidamente pelos módulos principais do sistema.
    </p>
  </p-card>

  <!-- MENU RÁPIDO -->
  <div class="quick-menu">
    <p-card
      *ngFor="let m of quickMenu"
      class="quick-card"
      (click)="go(m.routerLink)"
    >
      <div class="quick-card-content">
        <i [class]="m.icon"></i>
        <h3>{{ m.title }}</h3>
        <p>{{ m.desc }}</p>
      </div>
    </p-card>
  </div>
</div>
