.page-header {
  margin-bottom: 1.5rem;
}

.page-title {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--p-text-color);
  letter-spacing: -0.5px;
  font-family: "Inter", sans-serif;
}

:host ::ng-deep .p-breadcrumb {
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

:host ::ng-deep .p-breadcrumb .p-menuitem-link {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: var(--p-primary-600);
  font-weight: 500;
}